

<div class="header">
  <a href="#default" class="logo"><marquee>Welcome User</marquee></a>
	  <div class="header-right">
	    <a class="active" href="friendships/frnd">All Users</a>
	  </div>
</div> 
<br><br><br><br><br><br><br><br><br>
<%#= link_to 'All User', controller: 'fusers' %>
<center><h2><%= link_to 'My Friends', "/friendships/myfrnd", class: "btn btn-success btn-lg"%>&nbsp;&nbsp;&nbsp;&nbsp;
	<%= link_to 'All Users', "/friendships/frnd", class: "btn btn-success btn-lg"%></h2></center>
<br><br><br><br><br><br><br><br><br><br><br><br>