<h3># Here is a list of your pending requests</h3>

<ul>
    <% current_user.pending_friends.each do |f_request| %>
    <li>

      <%= f_request.user.email %>

      <%= link_to "Accept",  friendship_path(id: f_request.id), method: "put", class:"btn btn-success"%>

      <%= link_to "Decline", friendship_path(id: f_request.id), method: :delete, class:"btn btn-danger" %>
      
    </li>
  <% end %>
</ul>  -->